# Build / Binaries
bin/
obj/
.vs/
.vscode/
*.user

# Keep empty container, Restructured, and Re_evaluation folders via .gitkeep
container/*
!container/.gitkeep
Restructured/*
!Restructured/.gitkeep
Re_evaluation/*
!Re_evaluation/.gitkeep

# OS Files
.DS_Store
Thumbs.db
